@import "imports/variables";
@import "imports/base";
@import "imports/header";
@import "imports/nav";
@import "imports/content";
@import "imports/modal";

.quote {
  max-width: 340px;
  height: 20px;
  overflow: auto;
}
